#uvp > span {
    color: #FFEB3B;
}

button {
    background-color: #FFEB3B;
}

/* Styles for app.html */
input:focus {
    outline: none;
    background-color: #E2E2E2;
}

#menu {
    background-color: #FFEB3B;
    top: 0;
}

