#uvp > span {
    color: #FFEB3B;
}

a, button {
    background-color: #FFEB3B;
}

/* Styles for app.html */
input:focus {
    outline: none;
    background-color: #E2E2E2;
}

textarea:focus {
    outline: none;
    background-color: #E2E2E2;
}

textarea {
    resize: none;
}

#menu {
    background-color: #FFEB3B;
    top: 0;
}

.social {
    color: #FFEB3B;
}

#appContainer {
    top: 0;
}