body {
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #69F0AE
}

i.fa {
  position: absolute;
  top: 20px;
  right: 10px;
}

.box {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  background-color: black;
  border-radius: 100px;
}

.growBox {
  animation-duration: 1s;
  animation-name: growBox;
  animation-fill-mode: both;
}

@keyframes growBox {
  from {
    width: 0vw;
    height: 0vh;
  }
  to {
    width: 100vw;
    height: 100vh;
  }
}

/* Modal styles */
.message { /* Message will populate in div */ }
.hide {
  display: none;
}
.noScroll {
  overflow: hidden;
}
/* About modal */
.about {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: #212121;
  background-color: #69F0AE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  line-height: 90px;
}

/* Message Modal Classes */
.yo {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #FF5252;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 1000%; /* Increase font size for smaller messages. Decrease for larger messages. */
}
.wink {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #D500F9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 800%; /* Increase font size for smaller messages. Decrease for larger messages. */
}
.watchThisForMe {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #448AFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 500%; /* Increase font size for smaller messages. Decrease for larger messages. */
}
.whosThat {
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: #212121;
  background-color: #FFFF00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 600%; /* Increase font size for smaller messages. Decrease for larger messages. */
}


/* boostrap component styles */
.container {
  width: 100%;
  padding: 30px;
}
.card {
  margin: 0;
}
.display-3 {
  text-align: center;
}
.lead {
  text-align: center;
}
.card-title {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}
.card-text {
  font-size: 14px;
}

/* Message Color Schemes (Note: Uses "A200" Level colors on Google Palette --> https://material.io/guidelines/style/color.html#color-color-palette) */
.red {
  color: white;
  background-color: #FF5252;
}
.purple {
  color: white;
  background-color: #D500F9;
}
.yellow {
  color: #212121;
  background-color: #FFFF00;
}
.blue {
  color: white;
  background-color: #448AFF;
}
