body {
  margin: 0 auto;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #363537;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-input {
  width: 300px;
  height: 70px;
  background-color: inherit;
  border: none;
  font-size: 26px;
  outline: none;
  color: #DCED31;
  text-align: left;
  font-family: Avenir Next;
  letter-spacing: 2px;
  font-weight: 500;
}
.message-input::placeholder {
  color: #DCED31;
}
.validationMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 60px 0 0 -150px;
  text-align: left;
  width: 300px;
  color: gray;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
.hide {
  display: none;
}
.flex {
  display: flex;
}
.fa-question-circle-o {
  font-size: 30px;
  right: 20px;
  top: 30px;
  position: absolute;
  color: #DCED31;
}
.fa-times-circle-o {
  font-size: 30px;
  right: 20px;
  top: 30px;
  position: absolute;
  color: #DCED31;
}
#about {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  opacity: .95;
  background-color: #363537;
  color: #ffffff;
}
#about > p {
  width: 100%
}
#about .subtitle > a {
  color: #DCED31;
  text-decoration: none;
}
#about .title {
  text-align: center;
  font-weight: 600;
  font-family: Avenir Next;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 25px;
}
#about .subtitle {
  text-align: center;
  font-family: Avenir Next;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  width: 100px;
  height: 30px;
  color: #DCED31;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: Avenir Next;
  background-color: inherit;
  font-size: 16px;
  border: 1px solid #DCED31;
  border-radius: 3px;
  position: absolute;
  outline: none;
  top: 80%;
  left: 50%;
  margin: 20px 0 0 -55px;

}

#message {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  font-family: "Fredoka One", cursive;
  font-size: 350%;
  background-color: #DCED31;
  color: #363537;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
