body {
  margin: 0 auto;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #363537;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  height: 70px;
  background-color: inherit;
  border: none;
  font-size: 26px;
  outline: none;
  color: #DCED31;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}
.message-input {
  width: 300px;
  height: 70px;
  background-color: inherit;
  border: none;
  font-size: 26px;
  outline: none;
  color: #DCED31;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}
.message-input::placeholder {
  color: #DCED31;
  transition-duration: .2s;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validationMessage {
  position: absolute;
  left: 50%;
  margin: 40px 0 0 -150px;
  text-align: left;
  width: 300px;
  color: gray;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.hide {
  display: none;
}
.flex {
  display: flex;
}
.fa-question-circle-o {
  font-size: 30px;
  right: 20px;
  top: 30px;
  position: absolute;
  color: #DCED31;
}
.fullscreenRequest {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 20px;
  right: 20px;
  bottom: 30px;
  line-height: 20px;
  position: absolute;
  color: #DCED31;
}
.exitFullscreenRequest {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 20px;
  right: 20px;
  bottom: 30px;
  line-height: 20px;
  position: absolute;
  color: #DCED31;
}
.fa-times-circle-o {
  font-size: 30px;
  right: 20px;
  top: 30px;
  position: absolute;
  color: #DCED31;
}
#about {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  opacity: .95;
  background-color: #363537;
  color: #ffffff;
}
#about > p {
  width: 100%
}
#about .subtitle > a {
  color: #DCED31;
  text-decoration: none;
}
#about .title {
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 25px;
}
#about .subtitle {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .instructions {
  letter-spacing: 1px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  width: 100px;
  height: 30px;
  color: #DCED31;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  background-color: inherit;
  font-size: 16px;
  border: 1px solid #DCED31;
  border-radius: 3px;
  position: absolute;
  outline: none;
  top: 75%;
  left: 50%;
  margin: 20px 0 0 -55px;

}

#message {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  font-family: "Fredoka One", cursive;
  font-size: 600%;
  background-color: #DCED31;
  color: #363537;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
