---
import Layout from "../layouts/Layout.astro";
---

<style>
  textarea {
    color: var(--primary);
    resize: none;
    border-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 11.25rem;
  }

  textarea::placeholder {
    color: var(--primary);
  }

  .app-section {
    max-width: 500px;
  }
</style>

<Layout>
  <section
    id="app"
    class="vh-100 flex justify-start items-center flex-column pt3 ph3"
  >
    <!-- Info banner -->
    <div class="app-section w-100 flex justify-center items-center">
      <p class="mr1 f7">Why this app was made</p>
      <img src="/arrow-up.svg" width="10" alt="Opens a new browser tab" />
    </div>

    <!-- Message textarea -->
    <div class="app-section w-100 pv5">
      <textarea
        name="message"
        id="message"
        class="w-100 ba br4 pa3 lh-copy"
        placeholder="Start typing your message here..."></textarea>
    </div>

    <!-- Font editor -->
    <div class="app-section"></div>

    <!-- Trigger button -->
    <div class="app-section"></div>
  </section>
</Layout>
