---
import Layout from "../layouts/Layout.astro";
import logo from "../logo.svg";
---

<style>
  textarea {
    height: 11.25rem;
    resize: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px;
    color: var(--primary);
  }

  textarea::placeholder {
    color: var(--primary);
  }

  textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
  }

  #font-editor {
    /* height: 11.25rem; */
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px;
  }

  .bi-info-lg {
    color: var(--primary);
  }

  i {
    color: var(--dark);
  }

  .color-selector--primary {
    background-color: var(--primary);
  }

  .color-selector--dark {
    background-color: var(--dark);
  }

  #font-weight i {
    margin-left: -5px;
  }

  button {
    background-color: var(--primary);
  }

  /* START FULLSCREEN MESSAGE STYLES */
  #fullscreen-container {
    background-color: var(--primary);
  }

  #blurt-message {
    font-size: 10vw;
    /* font-size: 12vw; */
    /* font-size: 12.5vw; */
  }
  /* END FULLSCREEN MESSAGE STYLES */

  /* START FULLSCREEN UNSUPPORTED MESSAGE STYLES */
  #unsupported-message-container {
    background-color: var(--light);
  }
  /* END FULLSCREEN UNSUPPORTED MESSAGE STYLES */

  /* START CUSTOM RANGE STYLES */
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid rgba(106, 0, 244, 0.3);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  /* All the same stuff for Firefox */
  input[type="range"]::-moz-range-thumb {
    border: 1px solid rgba(106, 0, 244, 0.3);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  /* All the same stuff for IE */
  input[type="range"]::-ms-thumb {
    border: 1px solid rgba(106, 0, 244, 0.3);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: var(--brand-gray);
    border-radius: 5px;
    border: 0.2px solid var(--brand-gray);
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--brand-gray);
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: var(--brand-gray);
    border-radius: 5px;
    border: 0.2px solid var(--brand-gray);
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: var(--brand-gray);
    border-radius: 5px;
    border: 0.2px solid var(--brand-gray);
  }
  input[type="range"]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: var(--brand-gray);
  }
  input[type="range"]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: var(--brand-gray);
  }
  /* END CUSTOM RANGE STYLES */
</style>

<Layout>
  <section class="flex justify-start items-center flex-column pv4 ph3">
    <!-- Info banner -->
    <div class="flex justify-center items-center">
      <a href="#" class="link mr1 f6">Why this app was made</a>
      <img src="/right-arrow-up.svg" width="12" alt="Opens a new browser tab" />
    </div>

    <!-- Message area container -->
    <div class="w-100 mw6 flex justify-center items-center mt4 mb3">
      <textarea
        name="message"
        id="message"
        class="w-100 bg-white bn pa4 lh-copy h5"
        placeholder="Start typing your message here..."></textarea>
    </div>

    <div>
      <!-- TODO: Add clear feature for textarea and consider "storing" previously written messages -->
    </div>

    <!-- Font editor -->
    <div class="w-100 mw6 flex justify-center items-center mb4">
      <div id="font-editor" class="w-100 bg-white pa4">
        <div class="w-100 flex justify-end">
          <i class="bi bi-info-lg pointer pa2"></i>
        </div>
        <!-- Size changer -->
        <div id="font-size" class="w-100 flex items-center justify-center">
          <div class="w-80">
            <small class="gray dib pb2">Font size</small>
            <div class="flex items-center justify-center">
              <i class="bi bi-fonts f5 pr2"></i>
              <!-- TODO: Figure out the actual min max number system here -->
              <input
                type="range"
                name="font-size"
                id="font-size"
                min="1"
                max="3"
              />
              <i class="bi bi-fonts f3 pl2"></i>
            </div>
          </div>
        </div>

        <!-- Color changer -->
        <div id="font-color" class="w-100 flex items-center justify-center mv4">
          <div class="w-80">
            <small class="gray dib pb2">Font color</small>
            <div class="flex items-center justify-center">
              <i class="bi bi-paint-bucket f3 pr2"></i>

              <!-- Color selectors -->
              <ul class="w-100 list flex justify-center items-center flex-row">
                <li
                  class="pl0 color-selector color-selector--primary w1 h1 br-100 mh3 pa2 pointer"
                  title="BlurtItApp Purple. Hex Color Code: #6a00f4"
                >
                </li>
                <li
                  class="pl0 color-selector color-selector--dark w1 h1 br-100 mh3 pa2 pointer"
                  title="BlurtItApp Dark. Hex Color Code: #02063b"
                >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Weight changer -->
        <div id="font-weight" class="w-100 flex items-center justify-center">
          <div class="w-80">
            <small class="gray dib pb2">Font weight</small>
            <div class="flex items-center">
              <i class="bi bi-type-bold f3 pr2 pointer"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Trigger button -->
    <div
      id="button-container"
      class="w-100 mw6 flex justify-center items-center mt4 pb3"
    >
      <button id="trigger-button" class="w-100 mw5 h3 ba br4 white pointer"
        >Blurt It Out</button
      >
    </div>
  </section>

  <!-- START OFF CANVAS APP CONTAINER -->
  <div
    id="fullscreen-container"
    class="ph3 dn justify-center items-center absolute absolute--fill"
  >
    <p id="blurt-message" class="lh-copy tc mv3 white">
      <!-- User's message (i.e. Blurt) will go here. -->
    </p>
  </div>
  <!-- END OFF CANVAS APP CONTAINER -->

  <!-- START OFF CANVAS LANDING PAGE FOR UNSUPPORTED DEVICES (I.E. Those lacking Fullscreen API...iPhones, come on Apple) -->
  <!-- When active: replace dn with flex justify-center absolute absolute--fill -->
  <div
    id="unsupported-message-container"
    class="w-100 vh-100 ph3 dn justify-center items-center flex-column absolute absolute--fill"
  >
    <img src={logo} alt="BlurtItApp logo" width="40" />
    <p id="unsupported-message-text" class="lh-copy tc mv3 measure">
      BlurtItApp only works on tablet, desktop, and Android for now.
    </p>
  </div>
</Layout>
